@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: #eee;
  letter-spacing: 1.5px;
}

.container {
  max-width: 1100px;
  margin: 20px auto;
  min-height: 300px;
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 350px;
}

.close {
  font-family: inherit;
  position: absolute;
  top: 15px;
  right: 60px;
  font-size: 0.8rem;
  background-color: transparent;
  color: #a17e08;
  padding: 5px 10px;
  border: 1px solid #a17e08;
  border-radius: 5px;
  cursor: pointer;
}

.close:hover {
  background-color: #a17d0841;
  transform: scale(0.98);
}

.logo {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 30px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin: 20px 10px;
  list-style: none;
}

a {
  color: #a17e08;
  text-decoration: none;
}

a:hover,
a:active {
  color: #d65f1a;
  transform: scale(0.98);
}

.home img {
  max-width: 100%;
}

.home_text {
  margin: 30px auto;
  padding: 10px;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 54px auto;
  color: #d65f1a;
}

@media (min-width: 600px) {
  .about {
    flex-direction: column;
    flex: 1 1;
  }
}
