@import url('https://fonts.googleapis.com/css?family=Lato:300;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.4px;
}

body {
  background-color: #111a22;
  color: #b99a32;
}

/* FONTS */

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 10px 0;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding: 10px 0;
}

.row .col b {
  font-weight: 700;
}

.statue_info h5 {
  margin-bottom: 15px;
}

ul.statue_info li {
  margin: 0;
  line-height: 1.6rem;
  padding: 0;
}

li {
  margin: 10px;
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Links */

.link,
a {
  font-size: 1.1rem;
  color: #a17e08;
  text-decoration: none;
}

.link,
a:hover {
  color: #d65f1a;
  transform: scale(1.03);
}

.link,
a:active {
  color: #b61111;
  transform: scale(1.06);
}

/* ELEMENTS */

.container {
  max-width: 900px;
  margin: 20px auto;
  min-height: 300px;
  padding: 40px;
  word-spacing: 2px;
}

.logo {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 80px;
  margin: 20px 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home img {
  max-width: 100%;
  border-radius: 3px;
}

.home_text {
  margin-top: 30px;
  text-align: center;
}

.home_text p {
  line-height: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
}

.col {
  width: 50%;
  margin: auto 0;
}

img.col {
  width: 100%;
  height: 100%;
  max-width: 250px;
  object-fit: contain;
  border-radius: 3px;
}

span {
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem;
  margin-top: 20px;
}

.form-group label {
  margin-left: 10px;
}

.form-group {
  position: relative;
  max-width: 500px;
  margin: 15px auto;
  color: #a17e08;
}

.form-control {
  background-color: transparent;
  border: 1px solid #a17d088a;
  color: #eee;
  font-size: 1rem;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
  color: #d65f1a;
}

.footer .nav a {
  padding: 5px 10px;
}

/* BUTTONS */

.btn {
  display: flex;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #a17e08;
  color: #a17e08;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #a17d0825;
  border: 1px solid #a17d0879;
  font-weight: 700;
  transform: scale(0.98);
}

.construction {
  margin-top: 70px;
  line-height: 25px;
  max-width: 500px;
}

.order {
  background-color: #d65f1a30;
  line-height: 40px;
  padding: 7px 12px;
  border-radius: 5px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.order a .order:hover {
  background-color: #a17e08;
  color: #fff;
  transform: scale(0.96);
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}

/* MEDIA QUERY */

@media (max-width: 678px) {
  * {
    font-size: 14px;
  }

  /* Momentarily disabled before creating function for mobile menu
   
  .desktop {
    display: none;
  }

  .logo {
    position: relative;
  }

  .mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin-top: 10px;
    background-color: #222;
  }

  .menu,
  .close {
    position: absolute;
    top: 78px;
    right: 10px;
    font-size: 1.6rem;
    color: #a17e08;
    padding: 5px 10px;
    cursor: pointer;
  } */

  .btn-primary:hover {
    background-color: #a17d0841;
    transform: scale(0.98);
  }
  .about {
    flex-direction: column;
  }

  .nav li {
    margin: 10px 7px;
  }

  p.col {
    width: 100%;
  }

  img.col,
  section.col {
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  .construction {
    padding: 15px;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
  }
  .footer .nav {
    flex-wrap: wrap;
  }
}
